body{
    background-color: #51515b;
    justify-items: center;
}

#h{
    color: #fff;
}

#button{
    background: greenyellow;
    padding: 8px;
    border: 0;
}

input{
    padding: 7px;
    border: 0;
    border-radius: 10px;
}